
.bot-list{
  columns: 4;
}
.bot-container{
  padding: 2px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: ivory;
}
.bot-container img{
  background-color: grey;
}

.bot-army{
  background-color: greenyellow;
  display: flex;
  padding: 10px;
}
.bot-army .bot-container{
  margin: 5px;

}