/* .bot-container {
    background-color: grey;
    width: 25%;
    box-sizing: border-box;
    padding: 10px;
    float: left;
  } */
.bot-list{
  columns: 4;
}
.bot-container{
  /* padding: 5px; */
 border-radius: 10px;
  box-sizing: border-box;
}
.bot-container img{
  background-color: grey;
}